/* @media screen and (max-width: 480px) {
  .my-action {
    font-size: 10px;
  }
} */

.my-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-add-ing-btn:hover {
  cursor: pointer;
}
